{% extends "Master/Base.html.twig" %}

{% block body %}
<div class="container-fluid py-3">
    <div class="d-flex align-items-center mb-3">
        <h1 class="h3 mb-0 text-uppercase">{{ i18n.trans('mo-projects') }}</h1>
        <a class="btn btn-success ms-auto" href="{{ url('EditMoProject', {'action': 'new'}) }}">
            <i class="fas fa-plus"></i> {{ i18n.trans('nuevo') }}
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="table-responsive">
            <table class="table table-striped align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th>{{ i18n.trans('codigo') }}</th>
                        <th>{{ i18n.trans('nombre') }}</th>
                        <th>{{ i18n.trans('cliente') }}</th>
                        <th>{{ i18n.trans('estado') }}</th>
                        <th>{{ i18n.trans('inicio') }}</th>
                        <th>{{ i18n.trans('entrega') }}</th>
                        <th class="text-end">{{ i18n.trans('acciones') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in view.records %}
                    <tr>
                        <td>{{ project.code }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.getCustomerName() }}</td>
                        <td class="text-capitalize">{{ project.status }}</td>
                        <td>{{ project.startdate }}</td>
                        <td>{{ project.enddate }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-outline-primary" href="{{ url('EditMoProject', {'code': project.code}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center text-muted" colspan="7">{{ i18n.trans('no-data') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
